In [13]:
import numpy as np
import json
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
file_path = '../mmdetection/ckpts/retinanet_swin-l/20230215_123259.log.json'
json_data = []
with open(file_path, 'r') as f:
    for line in f:
        json_data.append(json.loads(line))

In [11]:
val_data = [data for data in json_data[1:] if data['mode'] == 'val']

In [14]:
pd.DataFrame(val_data)

,mode,epoch,iter,lr,bbox_mAP,bbox_mAP_50,bbox_mAP_75,bbox_mAP_s,bbox_mAP_m,bbox_mAP_l,bbox_mAP_copypaste
0,val,10,472,0.00001,0.412,0.779,0.379,0.101,0.184,0.410,0.412 0.779 0.379 0.101 0.184 0.410
1,val,20,472,0.00001,0.482,0.831,0.448,0.101,0.258,0.486,0.482 0.831 0.448 0.101 0.258 0.486
2,val,30,472,0.00000,0.559,0.848,0.649,0.151,0.254,0.631,0.559 0.848 0.649 0.151 0.254 0.631
3,val,40,472,0.00000,0.556,0.861,0.655,0.353,0.252,0.602,0.556 0.861 0.655 0.353 0.252 0.602
4,val,50,472,0.00000,0.559,0.862,0.646,0.353,0.256,0.609,0.559 0.862 0.646 0.353 0.256 0.609